.cafe-header {
    background-color: #F8EFEA;
    padding: 30px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    flex-basis: 30%;
    text-align: left;
    margin-right: 20px; /* distancia lateral derecha */
  }
  
  .header-heading {
    font-size: 24px;
    color: #8C7A67;
    margin-bottom: 10px;
    
  }
  .header-heading a {
    color: #8C7A67; /* Cambia el color a negro */
    text-decoration: none; /* Opcional: quitar subrayado del enlace */
  }
  
  
  
  .header-image {
    flex-basis: 40%;
    text-align: center;
  }
  
  .header-image img {
    max-width: 100%;
    height: auto;
  }
  
  .header-text {
    flex-basis: 30%;
    text-align: right;
    margin-left: 20px; /* distancia lateral izquierda */
  }
  
  .header-social {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .header-social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .header-text a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 5px; /* Agregar distancia lateral derecha */
  }
  
  .header-text a.cerrar-sesion {
  margin-left: 20px; /* Agregar distancia lateral izquierda solo al enlace "Cerrar Sesion" */
  margin-right: 0; /* Quitar distancia lateral derecha */
  }
  
  .header-text a:last-child {
  margin-right: 0; /* Quitar distancia lateral derecha en el último enlace */
  }
  
  .header-text a:hover {
  color: #D4C4B4;
  }
  
  
  
  /**/
  
  
  * {margin:0; box-sizing:content-box;}
  /* Modificar fondo negro */
  /* Modificar fondo negro */
  
  
  
  /* Estilo para el enlace de "CERRAR SESIÓN" */
  .cerrar-sesion {
    /* Agregamos los estilos previamente definidos en el código anterior */
    color: black;
    border: 1px solid black;
    padding: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;

  }
  
  /* Estilo para el enlace de "CERRAR SESIÓN" cuando se pasa el cursor sobre él */
  .cerrar-sesion:hover {
    /* Cambiamos el color a rojo cuando se pasa el cursor sobre el enlace */
    color: red;
    border-color: red;
  }









  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

/*******************************HEADER************************************/

.contenedor{
    padding: 25px 0;
    width: 70%;
    margin: auto;
    max-width: 1150px;
    overflow: hidden;
    background: #e7dbc4;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}



.hero-section {
    background: url(https://images.unsplash.com/photo-1579697096985-41fe1430e5df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80) 50% no-repeat;
    background-size: cover;
    height: 50vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.fondo{
    background-color: black !important;
}

.fondo a:hover {
    color: hsla(41, 79%, 29%, 0.7);
}

.fondo a{
    color: white;
}

/*****************************************************UBICACION**************************************/

th{
    background: #e7dbc4;
    font-family: 'Courier New', Courier, monospace;
}

td{
    background: #e7dbc4;
    font-family: 'Courier New', Courier, monospace;
}

/******************************************************FOOTER*******************************************/

.footer{
    background: black;
}

a{
    color: white;
}

.footer a:hover {
    color: hsla(41, 79%, 29%, 0.7);
}

/***********************************************BACKGROUND********************************************/

.contacto{
    background: #e7dbc4;
}

.ubicacion{
    background: #e7dbc4;
}

.productos{
    background: #e7dbc4;
}

.nosotros{
    background: #e7dbc4;
}

/******************************************RESPONSIVE***************************************************/

@media screen and (max-width:1000px){
    .contenedor-nosotros{
        width: 100%;
    }

    .imagen-about-us{
        width: 80%;
        margin-bottom: 30px;
    }
    .sobre-nosotros .contenido-textos{
        width: 80%;
    }

    .contenedor{
        width: 100%;

    }

    .imagen-port{
        width: 45%;
    }

}
